
.erasmixlogoform{
  width: 30vw;

}
path{
  animation: intro 2s;
}
@keyframes intro {
  0%{
    opacity:  0;
  }
  100%{
    opacity:  1;
  }
}
.login{
  height: 100vh;
  /* background-color: grey; */
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.register{
  margin-top: 2em;
}
input{
  width: 80vw;
  margin-top: 10vh;
  padding: 2%;
  border: none;
  /* font-size: 50px; */
  background-color: transparent;
  border-bottom:1px  solid black;
}
<<<<<<< HEAD
form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
}
=======
.icon{
margin: 1em;
  width: 4em;
}
.icon{
margin: 1em;
  width: 4em;
}
