*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #E9E9E9;

}
.iconheader{
  width: 2.5em;
}
.iconheadersearch{
  width: 1em;
}
header{
  display: flex;
align-items: center;
padding: 0 1em;
height: 10vh;
justify-content: space-between;
flex-direction: row;
    transition: .5s;
}
header.headerscroll{
  background-color:  white;

}
.searchbar{
margin: 0 7%;
font-size: 1.3em;
padding: 5px;
  width: 60%;
  border-radius: none;
  background-color: transparent;
  border: none;

}
.createbutton{
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.icon{
margin: 1em;
  width: 4em;
}
.fix{
  position: fixed;
}
.bg{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
